Korean_Care_RAG.json
{
  "name": "Korean Care RAG Chatbot",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "koreancare-chat",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [220, 460],
      "webhookId": "koreancare-chat"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=You are the KoreanCare Assistant \u2014 a helpful, friendly customer support chatbot for koreancare.lt, a Lithuanian e-commerce store specializing in authentic Korean skincare products.\n\nYour role:\n- Answer questions about skincare products, ingredients, and Korean beauty routines\n- Provide shipping information, return policies, and order-related help\n- Recommend products and routines based on skin type and concerns\n- Use the knowledge base (RAG) tool to retrieve accurate, up-to-date product and policy information from koreancare.lt\n\nOrder Status Tool (Order_Status):\n- Use this tool ONLY when a customer asks about their order status\n- You MUST collect all three required fields before calling the tool:\n  1. order_number \u2014 the WooCommerce order number\n  2. email \u2014 the email address used for the order\n  3. amount \u2014 the total order amount for verification\n- If any field is missing, politely ask the customer to provide it\n- Never fabricate order information\n\nSkincare Routine Recommendations:\n- When recommending routines, follow the Korean skincare methodology (double cleanse, toner, essence, serum, moisturizer, SPF)\n- Tailor recommendations to the customer's skin type and concerns\n- Reference specific products available on koreancare.lt using the knowledge base\n\nLanguage & Tone:\n- Communicate in Lithuanian by default\n- Use the formal 'J\u016bs' form of address\n- Be warm, professional, and knowledgeable\n- Keep responses concise but thorough\n\nCurrent date and time: {{ $now }}"
        }
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000002",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [480, 460]
    },
    {
      "parameters": {
        "model": "gpt-4.1-mini",
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000003",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [360, 680]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.conversationId }}",
        "tableName": "n8n_chat_histories",
        "contextWindowLength": 20
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000004",
      "name": "Postgres Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [520, 680]
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000005",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [620, 880]
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "toolName": "korean_care_kb",
        "toolDescription": "Call this tool to search the KoreanCare knowledge base for information about products, ingredients, skincare routines, shipping policies, return policies, and any other store-related information from koreancare.lt",
        "topK": 73,
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000006",
      "name": "korean_care_kb",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [680, 680]
    },
    {
      "parameters": {
        "name": "Order_Status",
        "description": "Use this tool to check the status of a customer's order on koreancare.lt. Requires order_number, email, and amount for verification.",
        "method": "POST",
        "url": "https://koreancare.lt/wp-json/koreancare/v1/order-status",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Content-Type\": \"application/json\",\n  \"X-Koreancare-Secret\": \"YOUR_API_SECRET\"\n}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"order_number\": \"{{ $fromAI('order_number', 'The WooCommerce order number', 'string') }}\",\n  \"email\": \"{{ $fromAI('email', 'The email address used for the order', 'string') }}\",\n  \"amount\": \"{{ $fromAI('amount', 'The total order amount for verification', 'string') }}\"\n}"
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000007",
      "name": "Order_Status",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [840, 680]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "reply-field",
              "name": "reply",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000008",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [760, 360]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "YOUR_SHEET_NAME",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ $now }}",
            "conversation_id": "={{ $('Webhook').item.json.body.conversationId }}",
            "input": "={{ $('Webhook').item.json.body.chatInput }}",
            "output": "={{ $json.output }}"
          }
        },
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000009",
      "name": "Append row in sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [760, 560]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "korean_care_kb",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "korean_care_kb": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Order_Status": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          },
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "active": false,
  "meta": {
    "instanceId": ""
  }
}
